.btn-danger{
    width: 200px;
    height: 40px;
    background-color: rgb(251, 0, 0);
    border-radius: 4px;
    border-color: red;

}


.navbar {
    background-color: rgb(152, 203, 59) !important;
}

.bs-example{
    background-color: rgb(152, 203, 59);
    margin: 20px;
}


.btn-danger1{
    width: 200px;
    height: 40px;
    border-radius: 4px;
    border-color: rgb(236, 168, 168);
    background-color: rgb(236, 168, 168);
}


.btn-danger2{
    width: 300px;
    height: 40px;
    background-color: rgb(255, 58, 58);
    color: white;
    margin: 4px;
}


.body{
    background-color: rgb(44,154,209);
}


.status{
    border-radius: 5px;
    border-color: red;
    background-color: lightpink;
    width: 100px;
    height: 35px;
    border-color: red;
    border-radius: 5px;
    padding: 5px;
}


.user{
    border-radius: 4px;
    background-color: rgb(81, 81, 174);
    height: 100%;
    width: 100%;
    padding: 4px;
    justify-content: space-between;
}

.userbuto1{
    width: 140px;
    height: 50px;
    border-color:white;
    background-color: rgb(152, 203, 59);
    margin: 2px;
    padding: 2px;
    border-radius: 4px;
}

.userbuto2{
    width: 140px;
    height: 50px;
    border-color:rgb(82, 4, 251);
    border-width: 3px;
    background-color: rgb(152, 203, 59);
    margin: 2px;
    padding: 2px;
    border-radius: 4px;
}

.userbuto3{
    width: 70px;
    height: 386spx;
    border-color:white;
    background-color: rgb(152, 203, 59);
    /* margin: 2px; */
    /* padding: 2px; */
    border-color: rgb(93, 93, 167);
    border-width: 5px;
    border-radius: 4px;
}

.previous{
    position: fixed; /* Sticks the div relative to the viewport */
      bottom: 0;      /* Aligns the div to the bottom */
      left: 0; 
      border-radius: 10px;
      height: 30px;
      background-color: rgb(152, 203, 59);
      border-color: rgb(152, 203, 59); 
}

.next{
    position: fixed; /* Sticks the div relative to the viewport */
      bottom: 0;      /* Aligns the div to the bottom */
      right: 0; 
      border-radius: 10px;
      height: 30px;
      background-color: rgb(152, 203, 59);
      border-color: rgb(152, 203, 59); 
}

.body1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly"
}


.buttons1{
    display: flex;
    flex-direction: row;
}

.image{
    margin: 30px;
}

.image1{
    margin: 60px;
}


@media (max-width : 480px) {

    .body1{
        display: flex; 
        flex-direction: column; 
        justify-content: space-evenly"
    }

    .title1{
        margin-left: 30px;
    }

    .buttons1{
        display: flex;
        flex-direction: row;
    }

    .imagecsmaca{
        width: 300px;
    }

    .image1{
        margin: 0px !important;
        margin-left: 60px !important;
    }
    
}